.goShopping{
    position: fixed;
    top: 50px;
    right: 50px;
    border-radius: 50%;
    z-index: 999;
}
.down{
    position: fixed;
    bottom: 100px;
    right: 100px;
    z-index: 999;
    animation: move1 0.8s linear infinite alternate;
}
@keyframes move1{
    from{
        bottom: 100px;
    }
    to{
        bottom: 130px;
    }
}
.page1{
    background: url('../images/01-bg.png') no-repeat center bottom;
}
.content{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 900px;
    height: 600px;
    background: rgba(0, 0, 0, 0.2);
}
.page1 .goods{
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
}
.page1 .sofa{
    position: absolute;
    top: 180px;
    left: 250px;
    animation: move2 0.8s linear infinite alternate;
}
@keyframes move2{
    from{
        top: 180px;
    }
    to{
        top: 210px;
    }
}
.page1 .fly{
    position: absolute;
    top: 20px;
    right: -50px;
    animation: move3 0.8s linear infinite alternate;
}
@keyframes move3{
    from{
        top: 20px;
    }
    to{
        top: 80px;
    }
}
/* 第二屏 */
.page2{
    background: url('../images/02-bg.png') no-repeat center bottom;
}
.page2 .text div{
    display: inline-block;
}
.page2 .text{
    text-align: center;
}
.page2 .text .text2{
    position: absolute;
    opacity: 0;
}
.page2 .goods{
    position: absolute;
    top: 170px;
    left: 220px;
    transform: scale(0);
    transform-origin: bottom right;
}
.page2 .sofa{
    position: absolute;
    top: 133px;
    left: 280px;
    transform: scale(0.5);
    opacity: 0;
    z-index: 9999999;
}
.page2 .input{
    position: absolute;
    top: 245px;
    right: -600px;
}
.page2 .input .sofaText{
    position: absolute;
    top: 3px;
    left: 95px;
    opacity: 0;
}
/* 第二屏动画 */
.page2.lzz .text .text1{
    position: absolute;
    opacity: 0;
    transition: all 3s;
}
.page2.lzz .text .text2{
    position: static;
    opacity: 1;
    transition: all 10s;
}
.page2.lzz .input{
    animation: move4 3s ease forwards;
}
.page2.lzz .input .sofaText{
    opacity: 1;
    transition: all 1s linear 1s;
}
.page2.lzz .goods{
    transform: scale(1);
    transition: all 1s linear 2s;
}
@keyframes move4{
    0%{
        top: 245px;
        right:-600px;
    }
    33.3%{
        top: 245px;
        right: 320px;
        transform: scale(1);
    }
    66.6%{
        top: 245px;
        right: 320px;
        transform: scale(1);
    }
    100%{
        top: 112px;
        right: 122px;
        transform: scale(0.5);
    }
}
.page2.oym .sofa{
    animation: move5 1s linear;
}
@keyframes move5{
    from{
        opacity: 1;
    }
    to{
        opacity: 1;
        transform: translate(-70px,800px);
    }
}
/* 第三屏动画 */
.page3{
    background: url('../images/03-bg.png') no-repeat center bottom;
}
.page3 .sofa{
    position: absolute;
    top: 174px;
    left: 210px;
    opacity: 0;
    z-index: 999;
}
.page3 .selection img:first-child{
    position: absolute;
}
.page3 .selection img:last-child{
    position: absolute;
    opacity: 0;
}
.page3 .car img:first-child{
    position: absolute;
}
.page3 .car img:last-child{
    position: absolute;
    opacity: 0;
}
.page3 .selection{
    position: absolute;
    top: 285px;
    left: 488px;
}
.page3 .car{
    position: absolute;
    top: 432px;
    left: 488px;
}
.page3.lzz .sofa{
    opacity: 1;
}
.page3.lzz .selection img:last-child{
    opacity: 1;
    transition: all 1s linear;
}
.page3.lzz .car img:last-child{
    opacity: 1;
    transition: all 1s linear;
}
.page3.oym .sofa{
    animation: move7 1s linear;
}
@keyframes move7{
    from{
        opacity: 1;
    }
    to{
        opacity: 1;
        transform: translate(200px,750px) rotate(45deg);
    }
}
/* 第四屏开始 */
.page4{
    background: url('../images/04-bg.png') no-repeat center bottom;
}
.page4 .cloud img{
    transform: translateX(-400px);
    animation: move6 10s linear infinite alternate;
}
@keyframes move6 {
    from{
        transform: translateX(-400px);
    }
    to{
        transform: translateX(500px);
    }
}
.page4 .title img:first-child{
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
}
.page4 .title img:last-child{
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
}
.page4 .sofa{
    position: absolute;
    top: 221px;
    left: 408px;
    transform: rotate(45deg);
    opacity: 0;
}
.page4 .car{
    position: relative;
    margin-top: 100px;
    text-align: center;
}
.page4 .address{
    position: absolute;
    top: 210px;
    left: 50%;
    width: 283px;
    height: 270px;
    transform: translateX(-50%);
}
.page4 .address img:first-child{
    position: absolute;
    opacity: 0;
}
.page4 .address img:last-child{
    position: absolute;
    top: 58px;
    left: 56px;
    opacity: 0;
}
.page4.lzz .car{
    animation: move8 2s linear forwards;
}
.page4.lzz .sofa{
    animation: move9 2s linear forwards;
    opacity: 1;
}
@keyframes move8{
    from{
        opacity: 1;
    }
    to{
        opacity: 1;
        transform: translateX(1000px);
    }
}
@keyframes move9{
    0%{
        transform: rotate(45deg);
    }
    50%{
        transform: translateX(500px);
    }
    100%{
        transform: translateX(1000px) rotate(0deg);
    }
}
.page4.lzz .title img:first-child{
    opacity: 0;
    transition: all 0.1s linear 2s;
} 
.page4.lzz .title img:last-child{
    opacity: 1;
    transition: all 1s linear 2s;
}
.page4.lzz .address img:first-child{
    opacity: 1;
    transition: all 1s linear 2s;
}
.page4.lzz .address img:last-child{
    opacity: 1;
    transition: all 1s linear 3s;
}
/* 第五屏开始 */
.page5{
    background: url('../images/05-bg.png') no-repeat center bottom;
}
.page5 .card{
    position: absolute;
    top: 150px;
    left: 0;
}
.page5 .hand{
    position: absolute;
    top: 605px;
    right: 100px;
}
.page5 .order{
    position: absolute;
    top: 150px;
    left: 150px;
}
.page5 .mouse img:first-child{
    position: absolute;
    top: -450px;
    right: 50px;
    z-index: -999;
}
.page5 .mouse img:last-child{
    position: absolute;
    top: -450px;
    right: 50px;
    opacity: 0;
    z-index: -999;
}
.page5 .sofa{
    position: absolute;
    top: 300px;
    left: 100px;
    transform: rotate(30deg);
    opacity: 0;
}
.page5.lzz .hand{
    top: 230px;
    transition: all 1s ease;
}
.page5.lzz .mouse img:last-child{
    opacity: 1;
    transition: all 0.5s linear 1s;
}
.page5.lzz .sofa{
    opacity: 1;
    top: -350px;
    animation: move12 1s linear 1.5s forwards;
}
@keyframes move12{
    from{
        opacity: 1;
        top: -350px;
    }
    to{
        opacity: 1;
        top: 300px;
    }
}
.page5.lzz .order{
    top: 70px;
    transition: all 1s linear 2s;
}
.page5.oym .sofa{
    top: 300px;
    animation: move11 linear 1.8s;
}
@keyframes move11{
    from{
        opacity: 1;
    }
    to{
        opacity: 1;
        transform: translate(50px,530px) scale(0.1);
    }
}
/* 第六屏 */
.page6{
    background: url('../images/06-bg.png') no-repeat left bottom;
}
.page6 .car{
    position: absolute;
    bottom: 0;
    left: 190px;
}
.page6 .box{
    position: absolute;
    top: 150px;
    left: -500px;
}
.page6 .worker{
    position: absolute;
    bottom: 110px;
    left: 165px;
    transform: scale(0);
    transform-origin: center bottom;
}
.page6 .door{
    position: absolute;
    top: 333px;
    right: 59px;
    opacity: 0;
}
.page6 .person{
    position: absolute;
    bottom: 115px;
    right: 0;
    transform: scale(0);
    transform-origin: center bottom;
}
.page6 .say{
    position: absolute;
    top: 50px;
    left: 445px;
    opacity: 0;
}
.page6 .carHead img:first-child{
    position: absolute;
    bottom: 110px;
    left: 395px;
    opacity: 0;
}
.page6 .carHead img:last-child{
    position: absolute;
    bottom: 110px;
    left: 395px;
    opacity: 0;
}
.page6 .text img:first-child{
    position: absolute;
    top: 100px;
    left: 190px;
} 
.page6 .text img:last-child{
    position: absolute;
    top: 100px;
    left: 130px;
    opacity: 0;
}
.page6.lzz .box{
    left: 200px;
    transition: all 0.8s ease;
    animation: move13 1s ease 1s forwards;
}
.page6.lzz{
    background-position: -950px bottom;
    transition: all 2s linear 2s;
}
.page6.lzz .worker{
    transform: scale(1);
    transition: all 1s linear 4s;
    animation: move14 1s linear 5s forwards;
}
.page6.lzz .say{
    opacity: 1;
    transition: all 1s linear 6s;
}
@keyframes move13{
    0%{
        
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translateY(300px) scale(0.1);
    }
}
@keyframes move14{
    from{
        opacity: 1;
    }
    to{
        opacity: 1;
        transform: translateX(150px);
    }
}
.page6.lzz .door{
    opacity: 1;
    transition: all 1s linear 7s;
}
.page6.lzz .person{
    transform: scale(1) translateX(-200px);
    transition: all 1s linear 8s;
}
.page6.lzz .text img:last-child{
    opacity: 1;
    transition: all 0.5s linear 6s;
}
.page6.lzz .carHead img:first-child{
    opacity: 1;
    transition: all 0.5s linear 2.5s;
}
.page6.lzz .carHead img:last-child{
    opacity: 1;
    transition: all 0.5s linear 3s;
}

