.goShopping{
    position: fixed;
    top: 50px;
    right: 50px;
    border-radius: 50%;
    z-index: 999;
}
.down{
    position: fixed;
    bottom: 100px;
    right: 100px;
    z-index: 999;
    animation: move1 0.8s linear infinite alternate;
}
@keyframes move1{
    from{
        bottom: 100px;
    }
    to{
        bottom: 130px;
    }
}
.page1{
    background: url('../images/01-bg.png') no-repeat center bottom;
}
.content{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 900px;
    height: 600px;
    background: rgba(0, 0, 0, 0.2);
}
.page1 .goods{
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
}
.page1 .sofa{
    position: absolute;
    top: 180px;
    left: 250px;
    animation: move2 0.8s linear infinite alternate;
}
@keyframes move2{
    from{
        top: 180px;
    }
    to{
        top: 210px;
    }
}
.page1 .fly{
    position: absolute;
    top: 20px;
    right: -50px;
    animation: move3 0.8s linear infinite alternate;
}
@keyframes move3{
    from{
        top: 20px;
    }
    to{
        top: 80px;
    }
}
/* 第二屏 */
.page2{
    background: url('../images/02-bg.png') no-repeat center bottom;
}
.page2 .text div{
    display: inline-block;
}
.page2 .text{
    text-align: center;
}
.page2 .text .text2{
    position: absolute;
    opacity: 0;
}
.page2 .goods{
    position: absolute;
    top: 170px;
    left: 220px;
    transform: scale(0);
    transform-origin: bottom right;
}
.page2 .sofa{
    position: absolute;
    top: 133px;
    left: 280px;
    transform: scale(0.5);
    opacity: 0;
    z-index: 9999999;
}
.page2 .input{
    position: absolute;
    top: 245px;
    right: -600px;
}
.page2 .input .sofaText{
    position: absolute;
    top: 3px;
    left: 95px;
    opacity: 0;
}
/* 第二屏动画 */
.page2.lzz .text .text1{
    position: absolute;
    opacity: 0;
    transition: all 3s;
}
.page2.lzz .text .text2{
    position: static;
    opacity: 1;
    transition: all 10s;
}
.page2.lzz .input{
    animation: move4 3s ease 1s forwards;
}
.page2.lzz .input .sofaText{
    opacity: 1;
    transition: all 1s linear 2s;
}
.page2.lzz .goods{
    transform: scale(1);
    transition: all 1s linear 3s;
}
@keyframes move4{
    0%{
        top: 245px;
        right:-600px;
    }
    33.3%{
        top: 245px;
        right: 320px;
        transform: scale(1);
    }
    66.6%{
        top: 245px;
        right: 320px;
        transform: scale(1);
    }
    100%{
        top: 112px;
        right: 122px;
        transform: scale(0.5);
    }
}
.page2.oym .sofa{
    animation: move5 1s linear;
}
@keyframes move5{
    from{
        opacity: 1;
    }
    to{
        opacity: 1;
        transform: translate(-70px,800px);
    }
}
/* 第三屏动画 */
.page3{
    background: url('../images/03-bg.png') no-repeat center bottom;
}
.page3 .sofa{
    position: absolute;
    top: 174px;
    left: 210px;
    opacity: 0;
}
.page3 .selection img:first-child{
    position: absolute;
}
.page3 .selection img:last-child{
    position: absolute;
    opacity: 0;
}
.page3 .car img:first-child{
    position: absolute;
}
.page3 .car img:last-child{
    position: absolute;
    opacity: 0;
}
.page3 .selection{
    position: absolute;
    top: 285px;
    left: 488px;
}
.page3 .car{
    position: absolute;
    top: 432px;
    left: 488px;
}
.page3.lzz .sofa{
    opacity: 1;
}
.page3.lzz .selection img:last-child{
    opacity: 1;
    transition: all 1s linear;
}
.page3.lzz .car img:last-child{
    opacity: 1;
    transition: all 1s linear;
}
/* 第四屏开始 */

